$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$color__minako-main: #bfe0c6;
@mixin bg__minako($opacity: 0.8) {
  background-color: rgba($color__minako-main, $opacity);
}
@mixin color__minako-60 {
  color: rgba($color__minako-main, 0.6);
}
@mixin color__minako-40 {
  color: rgba($color__minako-main, 0.4);
}

$color__minako-lg: #d9ebdd;
$color__minako-wg: #e8f1e9;
$color__minako-b: #af9458;
$color__minako-mb: #A5833E;
$color__minako-lb: #D7CDB9;
