
.site-header-content {
  width: $size__site-main;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0;
  position: relative;
  &-inner {
    width: $size__site-main;
    max-width: 1000px;
    position: relative;
    @include clearfix();

  }
}

.site-header-home {
  width: $size__site-main;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 0 0;
  position: relative;
  @include media-query('sp') {
    height: unset;
  }
}

.site-branding-content {
  float: left;
  width: 30%;
  @include media-query('sp') {
    float: none;
    width: 40%;
    padding: 0 0 0 20px;
  }
  .custom-logo-link {
    .custom-logo {
      max-width: 100%;
    }
  }
}

.site-branding-home {
  width: 30%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 12;
  @include media-query('sp') {
    position: unset;
    width: 40%;
    padding: 0 0 0 20px;
  }
  .custom-logo-link {
    .custom-logo {
      max-width: 100%;
    }
  }
}

.minako-navigation-home {
  float: none;
  width: 280px;
  height: 260px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
  @media screen and (min-width:1200px) {
    right: -33%;
  }
  @media screen and (min-width:1080px) and ( max-width:1199px) {
    right: -36%;
  }
  @media screen and (min-width:960px) and ( max-width:1079px) {
    right: -36%;
  }
  @include media-query('sp') {
    width: 100%;
    height: unset;
    position: unset;
  }
  .menu-toggle {
    top: -4rem !important;
    right: 1rem !important;
  }
  .menu-menu-1-container {
    width: 100%;
    margin: 0 auto;
    li {
      width: 100%;
      text-align: left;
      background-color: $color__minako-main;
      border: 1px solid #fff;
      @include media-query('sp') {
        background-color: transparent;
        border-bottom: 1px solid #fff !important;
        border-top: none !important;
        border-left: none;
        border-right: none;
      }
      &:last-child {
        border-bottom: none !important;
      }
      a {
        display: block;
        margin: 0 10px;
        letter-spacing: 1px;
        padding: 10px 0 10px 130px;
        @include font-size(0.9);
        background-image: url("../images/arrow.png");
        background-position: left 110px center;
        background-repeat: no-repeat;
        @include media-query('sp') {
          @include font-size(1.2);
          padding: 10px 0 10px 40px;
          display: block;
          background-position: left 20px center;
        }
        &:last-child {
          border: none;
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

.minako-navigation {
  display:flex;
  -webkit-display: flex;
  float: none;
  width: unset;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  clear: none;
  padding: 0 0 0 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  @include media-query('sp') {
    background-color: $color__minako-main;
    position: unset;
    padding: 0;
  }
  .menu-menu-1-container {
    width: 100%;
    margin: 0 auto;
    ul {
    }
    li {
      @include media-query('sp') {
        float: none;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #fff;
      }
      a {
        margin: 0 10px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 2px 10px 2px 25px;
        @include font-size(0.9);
        background-image: url("../images/arrow.png");
        background-position: left 10px center;
        background-repeat: no-repeat;
        @include media-query('sp') {
          padding: 10px 0 10px 40px;
          display: block;
          background-position: left 20px center;
        }
        &:last-child {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

.nav-reserve {
  position: absolute;
  top: 20px;
  right: 10px;
  text-decoration: none;
  @include media-query('sp') {
    display: none;
  }

  img {
    max-width: 180px;
    width: 100%;
    vertical-align: bottom;
  }
}

.site-header-img {
  width: 100%;
  max-height: 95vh;
  &-list {
    img {
      max-height: 95vh;
    }
  }
}

.site-header-img-inner {
  position: relative;
  margin: 0 auto;
  max-width: 521px;
  @media screen and (min-width:1400px) {
    max-width: 700px;
  }
  @include media-query('sp') {

  }
}

.top-news {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
  padding: 5px 0;
  @include font-size(1);
  @include media-query('sp') {
    margin: 0 auto;
    text-align: left;
    padding: 5px 0 5px 5px;
    @include font-size(0.8);
  }
  p {
    margin: 0 auto;
  }
  &-time {
    display: inline-block;
    padding: 0 10px 0 100px;
    background: url("../images/top-news.png") no-repeat center left;
    background-size: contain;
  }
  &-text {

  }
}

@include media-query('sp') {
  .menu-toggle {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: $color__minako-main;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    border: none;
    outline: none;
    i {
      cursor:pointer;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      width: 30px;
      margin: 0 auto;
      background-color: $color__minako-mb;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 20px;
      }
      &:nth-child(3) {
        top: 30px;
      }
    }
  }
  .menu-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .toggled {
    ul {
      @include bg__minako(0.8);
      padding: 0 15px 10px 15px;
      transform: translate(0);
      overflow-x: hidden;
      li {
        display: block;
        text-decoration: none;
        float: none;
        color: #3e3e3e;
        font-size: 2rem;
        @include font-size(1);
        background-color: none;
        padding: 20px 0;
      }
    }
    .nav-menu {
      // padding: 0 0 30px;
    }
  .menu-toggle {
      cursor:pointer;
      background-color: transparent;
      i {
        background-color: $color__minako-mb;
      }
      i:nth-child(1) {
        top:  20px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
      }
      i:nth-child(2) {
        width: 0;
        left: 50%;
      }
      i:nth-child(3) {
        top: 20px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
        }
      }
    }
}




.menu-item-82 {
  display: none;;
  @include media-query('sp') {
    display: unset;
  }
}

.menu-item-101 {
  display: none;;
  @include media-query('sp') {
    display: unset;
  }
}
